h1 {
    font-family: 'Gantari';
    font-size: 72px;
}
.p4m-download-modal {  
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.p4m-localization-box {
    margin: auto;
    background-color: #d6d6d6;
    display: table;
    text-align: right;
    padding: 32px;
    border: solid 2px black;
}
.p4m-modal-box {
    position: relative;
    margin: 12% auto;
    background-color: white;
    display: table;
    text-align: right;
    padding: 32px;
    border: solid 2px black;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-100px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-100px; opacity:0}
    to {top:0; opacity:1}
}
.modal-close {
    color: #bebebe;
    font-size: 28px;
    font-weight: 500;
    position: absolute;
    margin: -40px 0px 0px 8px;
    cursor: pointer;
}
.p4m-modal-download-button {
    width: 100%;
    font-family: 'Gantari';
    background-color: burlywood;
    border-bottom: solid 1px rosybrown;
    border-right: solid 1px rosybrown;
    border-top: solid 1px #ffe7d2;
    border-left: solid 1px #ffe7d2;
    text-align: center;
    margin-top: 18px;
}
.p4m-localization-box-title {
    text-align: center;
    font-weight: 400;
    margin-bottom: 12px;
    color: #343434;
}
.p4m-libraries-table {
    margin:auto;
    width: 75%;
    text-align: center;
}
.p4m-prayer-points-table {
    margin: auto;
    width: 100%;
    font-family: 'Gantari';
    text-align: left;
    border-collapse: separate;
}
.p4m-prayer-points-table th {
    margin-bottom: 12px;
    display: block;
}
.p4m-prayer-points-table td {
    padding: 28px;
}
.p4m-prayer-points-table td {
    border-radius: 8px;
}
.p4m-prayer-points-table td:hover {
    background-color: #ffedc7;
    border-left: solid 6px #725008;
    box-shadow: -4px 4px 18px lightgray;
}
.p4m-prayer-title {
    display: block;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.p4m-prayer-title-name {
    color: #2c664a;
}
.p4m-prayer-point-id {
    float: right;
    color: gray;
    font-weight: 300;
}
.p4m-tag {
    color: dimgray;
    font-weight: 400;
}